h1{
	color:#01DFD7
}
body{
	background:url("https://img-19.ccm2.net/ZeQkiteGKjO6zz-Tdw14V7oMaTc=/b2ed7415e2fb4014a48eec62c760e700/ccm-ugc/p-black-light-dark-figures-2560x1440.png")no-repeat;	
background-size: 4000px
}

p{
	color: #FFFFFF
}

h2{
	color: #58D3F7
}